body {
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type="button"] {
  padding: 8px 18px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: rgb(20, 99, 177);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#container {
  background-color: white;
  width: 550px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.squre-div {
  border: 1px solid gray;
  width: 32.375px;
  height: 32.375px;
}

.control {
  background-color: white;
  width: 250px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#header {
  color: white;
  font-size: 42px;
}

#range-slider {
  width: 100px;
}
